<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611655991310-m4rgo5jo8itr71v3sr639sufika6qn1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611655991310-m4rgo5jo8itr71v3sr639sufika6qn1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBiEKGarNIPJ7tIj3LQvoCSyC044zrF8NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>611655991310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nptu.edu.tw.FinalApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-9624c</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-9624c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611655991310:ios:e83207c9bb9ec568fbbc5f</string>
</dict>
</plist>